:root {
  --primary: #056EB7;
  --primary-hover: #045A94;
}

.login-page {
  min-height: 100vh;
  background: #edf4ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-wrapper {
  width: 100%;
  max-width: 420px;
  padding: 10px;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}


.input-wrapper input:focus {
  border-color: var(--primary);
}

.input-icon {
  position: absolute;
  left: 0.75rem;
  width: 16px;
  height: 16px;
  color: #9ca3af;
  pointer-events: none;
}

.icon-button {
  position: absolute;
  right: 0.75rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #9ca3af;
  display: flex;
  align-items: center;
  padding: 0;
}

.login-card {
  background: white;
  border-radius: 20px;
  padding: 32px;
  border: 2px solid #aacdfe;
}

.login-header {
  text-align: center;
  margin-bottom: 15px;
}

.login-header h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 8px;
}

.login-header p {
  color: #6b7280;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

.login-options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.login-footer {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}
